.DS_Store
icons/.DS_Store
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
*.pem
*.crt
*.key
*.p12
*.pfx
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
Thumbs.db
Desktop.ini 
