@font-face {
  font-family: "FZYouHei_GBK";
  src: url("__FZYouHK_508R.TTF__") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wr_various_font_provider_wrapper * {
  font-family: "FZYouHei_GBK", "PingFang SC", "Microsoft YaHei", sans-serif;
}
