@font-face {
  font-family: "HYXinRenWenSong";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/HYXinRenWenSong55W.ttf") format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "HYXinRenWenSong";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/HYXinRenWenSong65W.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "HYXinRenWenSong";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/HYXinRenWenSong75W.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "FZNewShuSong-Z10";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/FZXSSK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wr_various_font_provider_wrapper * {
  font-family: "HYXinRenWenSong", "FZNewShuSong-Z10", songti, serif;
}
