@font-face {
  font-family: "FZYouHei_GBK";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/FZYouHK_508R.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wr_various_font_provider_wrapper * {
  font-family: "FZYouHei_GBK", "PingFang SC", "Microsoft YaHei", sans-serif;
}
