html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.75;
  letter-spacing: 0 !important;
  word-spacing: unset !important;
  font-feature-settings: unset !important;
  font-kerning: unset !important;
}
