html {
  font-synthesis: none;
  text-autospace: normal;
  line-break: strict;
}

.wr_various_font_provider_wrapper h1 {
  margin-top: 32px !important;
  margin-bottom: 24px !important;
}

.wr_various_font_provider_wrapper h2 {
  margin-top: 24px !important;
  margin-bottom: 16px !important;
}

.wr_various_font_provider_wrapper h3 {
  margin-top: 24px !important;
  margin-bottom: 16px !important;
}

.reader_footer_note {
  width: 18px !important;
  height: 18px !important;
  top: -8px;
}

.wr_index_mini_shelf_card {
  box-shadow:
    0px 0px 0px 1px #0000000f,
    0px 1px 2px -1px #0000000f,
    0px 2px 4px 0px #0000000a !important;
  border-radius: 0.75rem !important;
  corner-shape: squircle !important;
  transition: unset !important;
  transition-duration: 300ms !important;
}

.wr_index_mini_shelf_card:hover {
  transform: none !important;
  background: #f5f5f5 !important;
}

.shelf_list {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 2rem !important;
  margin: 4rem 0 !important;
}

.shelfArchive,
.shelfBook,
.shelfBook_placeholder {
  margin: 0 !important;
  padding: 0 !important;
}

.shelfBook {
  content-visibility: unset !important;
  width: unset !important;
  height: unset !important;
}

.shelfBook .cover {
  width: 128px !important;
  height: 185px !important;
}

.shelfArchive .cover {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  gap: 0.5rem !important;
  border: none !important;
  box-shadow:
    0px 0px 0px 1px #0000000f,
    0px 1px 2px -1px #0000000f,
    0px 2px 4px 0px #0000000a !important;
  border-radius: 0.25rem !important;
  corner-shape: squircle !important;
  padding: 0.5rem !important;
  align-content: unset !important;
}

.shelfArchive .miniCover {
  width: 52px !important;
  height: 80.5px !important;
}

.wr_bookCover {
  box-shadow:
    0px 0px 0px 1px #0000000f,
    0px 1px 2px -1px #0000000f,
    0px 2px 4px 0px #0000000a !important;
}

.wr_bookCover,
.wr_bookCover img {
  border-radius: 0.25rem !important;
  corner-shape: squircle !important;
}

.wr_bookCover_decor.wr_bookCover_gradientDecor {
  background: none !important;
  box-shadow: none !important;
}

.shelfBook .title {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  line-clamp: 1 !important;
  -webkit-line-clamp: 1 !important;
  width: 128px !important;
}
