.readerControls button:nth-of-type(2) {
  display: none;
}

.wr_horizontalReader .readerControls button:nth-of-type(4) {
  display: none;
}

.reader_toolbar_itemContainer button:nth-of-type(3),
.reader_toolbar_itemContainer button:nth-of-type(4),
.reader_toolbar_itemContainer button:nth-of-type(5) {
  display: none;
}

.readerTopBar .readerTopBar_inner,
.wr_horizontalReader .readerControls {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.readerTopBar .readerTopBar_inner:hover,
.wr_horizontalReader .readerControls:hover {
  opacity: 1;
}
