.readerControls div:nth-of-type(2) {
  display: none;
}

.wr_horizontalReader .readerControls div:nth-of-type(4) {
  display: none;
}

.reader_toolbar_itemContainer .underlineHandWrite,
.reader_toolbar_itemContainer .underlineStraight,
.reader_toolbar_itemContainer .review {
  display: none;
}

.readerTopBar .readerTopBar_inner,
.wr_horizontalReader .readerControls {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.readerTopBar .readerTopBar_inner:hover,
.wr_horizontalReader .readerControls:hover {
  opacity: 1;
}

.wr_horizontalReader .readerControls::after {
  content: "";
  position: absolute;
  top: -50vh;
  bottom: -50vh;
  left: -28px;
  right: -240px;
  z-index: -1;
}
